@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
}

/* header */

header {
    display: flex;
    align-items: center;
    padding: 32px;
}

header a {
    text-decoration: none;
    color: black;
}

.header-links-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
    margin-left: 32px;
}

nav > * {
    margin: 0 20px;
}

.dropdown-content {
    position: absolute;
    z-index: 10;
    box-shadow: 0px 0px 10px #00000038;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    margin-top: 20px;
    transition: all 0.25s;
}

.dropdown-content li {
    display: block;
    margin: 10px 0px;
}

.dropdown-content a {
    padding-left: 10px;
    color: #6e6e6e;
}

.dropdown-content * {
    padding: 2px;
}

.dropdown-content--feature {
    left: 120px;
}
.hidden {
    display: none;
}

.enter-account-container * {
    margin-right: 40px;
}

.register-btn {
    padding: 16px;
    border-radius: 12px;
    border: 3px solid black ;
}

.arrow-icon {
    height: 8px;
    transition: all 0.5s;
}

/* main content */

.main-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 725px;
    margin: auto;
    margin-top: 50px;
}

/* main content text */

.main-container-text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-container-text-main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 10;
}

.main-container-text-main > * {
    margin-bottom: 60px;
}

.main-container-text-main h1{
    font-size: 5.5em;
    max-width: 580px;
}

.main-container-text-main > p {
    max-width: 500px;
    font-size: 1.3em;
    color: #6e6e6e;
}

.main-container-text button {
    max-width: 200px;
    font-size: 1.5em;
    font-weight: 700;
    background-color: white;
    border-radius: 12px;
    padding: 16px;
    border: 2px solid black;
    cursor: pointer;
}

/* main content image */

.main-container-image {
    display: flex;
    flex: 1;
    justify-content: right;
}

.main-container-image img {
    min-width: 425px;
    width: 85%;
    height: 100%;
}

.clients-container {
    max-width: 80%;
    justify-content: space-between;
}


.clients-container > img {
    margin-left: 20px;
}

@media only screen and (max-width:1320px) {
    .main-container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        height: 625px;
        margin-bottom: 25px;

    }

    .clients-container {
        max-width:100%;
    }
}

@media only screen and (max-width: 850px) {
    .header-links-content {
        display: none;
    }

    .main-container {
        flex-direction: column;
        padding: 0;
        margin-top: 0;
    }
    
    .main-container-image {
        flex: 1;
        max-height: 400px;
        margin-bottom: 40px ;
    }
    
    .main-container-image img {
        src: url("images/image-hero-mobile.png");
        width: 100%;
        max-width: 520px;
        height: 100%;
        margin: auto;
        margin-top: 0;
    }

    .main-container-text-main {
        flex: 1;
        justify-content: center;
    }

    .main-container-text-main h1, p, img, button{
        margin: auto;
        text-align: center;

    }

    .main-container-text-main h1 {
        font-size: 2.5em;
        max-width: 100%;
        margin-bottom: 32px;
    }

    .main-container-text-main p {
        margin-bottom: 24px;
    }

    .main-container-text-main .clients-container{
        max-width: 100%;
    }
    
    .main-container-text .clients-container {
        margin: auto;
    }
    

    .main-container-text {
        order: 2;
    }
}