@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --main-text-color: #cee2e9;
    --hightlight-text-color: #52fea8;
}

* {
    padding: 0;
    border: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;

    background-color: #202632;
    color: var(--main-text-color);
}

#advice {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    height: 380px;
    width: 650px;
    padding: 35px;
    border-radius: 20px;
    text-align: center;

    background-color: #3a4355;
}

#advice p {
    font-size: 1.2em;
    color: var(--hightlight-text-color);
    margin-bottom: 35px;
}

#advice h2 {
    font-size: 2em;
    margin-bottom: 35px;
}

.pattern-divider {
    margin-bottom: 35px;
}

#advice button {
    display: block;
    top: 345px;
    position: absolute;
    margin: auto;
    background-color: #52fea8;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

