@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0; 
}

body {
    font-family: "Overpass", sans-serif;
    background-color: #171b20;
}

.rating-container {
    display: flex;
    flex-direction: column;

    max-width: 360px;
    min-height: 400px;
    padding: 20px 45px;
    border-radius: 20px;
    margin: auto; 
    margin-top: 200px;

    color: white;
    background-color: #212832;
}

.rating-container .star-rating-img {
    width: 22px;
    height: 22px;
    padding: 16px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: #303844;
}

.rating-container h1 {
    margin: 10px 0;
}

.rating-container p {
    line-height: 1.5em;
    color: #7d848e;
    margin: 10px 0;
}

.rating-container .thank-you-img {
    height: 140px;
    width: 180px; 
    margin: 10px auto 30px auto;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    padding: 16px;
    border-radius: 50%;

    background-color: #303844;
    transition: all 0.2s;
}

.star:hover {
    background-color: #7b8996;
    cursor: pointer;
}

.star-selected{
    background-color: #fc7613;
}

.star-selected:hover {
    background-color: #fc7613;
}

.rating-container button[type="submit"] {
    height: 45px;
    border: none;
    border-radius: 25px;
    margin-top: 15px;

    font-family: "Overpass", sans-serif;
    font-size: 1.25em;
    font-weight: 400;

    cursor: pointer ;
    color: white;
    background-color: #fc7613;
    transition: all 0.3s;
}

.rating-container button[type="submit"]:hover {
    color: #fc7613;
    background-color: white
}

.highlight-text {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 32px;
}

.highlight-text p {
    display: inline;
    color: #fc7613;
    background-color: #303844;
    padding: 10px 26px;
    border-radius: 25px;
} 