.l-cards {
    max-width: 1200px;
    min-width: 350px;

    max-height: 600px;

    margin-top: 10%;
    margin: 0 auto;
    /* border-radius: 1.25rem; */

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

    grid-auto-rows: minmax(250px, 1fr);
    gap: 2.6rem; 
}

@media (max-width: 586px) {
    .l-cards {
        grid-auto-rows: minmax(180px, 1fr);
        grid-template-rows: 250px;
        max-height: none;
        height: auto;
        margin-bottom: 50px;
    }
}