@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body {
    background-color: #090b1a;
    color: white;       
}

.mainbox {
    display: flex;
    flex-direction: row;
    width:1000px;
    height: 400px;
    margin: auto;
    border-radius: 9px;
    margin-top: 10%;
    background-color: #1b1938;
}

.box-text {
    width: 500px;
    padding: 60px;
    padding-top: 30px;
}

.mainbox  h1 {
    font-size: 225%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.mainbox-text-h1-highlight {
    color: hsl(277, 64%, 61%);
}

.mainbox  p {
    font-size: 94%;
    width: 95%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 400;
    line-height: 25px;
    color: #ffffffbf;
}

.mainbox-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 10px;
    max-width: 100%;
    padding-left: 0px;
    margin: 0px;
    list-style: none;
}

.mainbox-list h2 {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 21.6px;
    color: white;
}

.mainbox-list > li {
    font-size: 75%;
    margin-top: 50px;
    padding: 0px;
    padding-right: 15%;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

.mainbox-img {
    width: 61.45%;
    background-color: hsl(277, 71%, 34%);
    border-radius: 0px 9px 9px 0px;
}

.mainbox-img > img {
    width: 500px;
    height: 100%;
    filter: opacity(40%);
    border-radius: 0px 9px 9px 0px;
}